/* Remove margens e paddings padrão */


html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configurações de estilo do container */ 

.container  {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Configurações de estilo do bloco esquerdo*/
.bloco-esquerdo {
    width: 50%;
    height: 100vh;
    background-color: #050A24;
    display: flex;
}

/*Configurações dp estilo do bloco Direito do formulario*/
.bloco-direito {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo da div contendo formulario de login*/
.formulario {
    display: grid;
    width: auto;
    height: 428px;
    justify-content: center;
    align-items: center;

}

/*Titulo de Cadastro*/
.Titulo-Criação-de-Conta {
    font-family: Touch-Bold;
    color: #344054;
    font-size: 28px;
    margin-bottom: 32px;
}

/*Titulos de credenciais de cadastro como Email e login*/
.credenciais {
    color: #344054;
    font-family: Touche-Semibold;
    width: 400px;
    height: 16px;

}

/*input de credenciais de cadastro Email e Login*/
.comum-input-email,
.comum-input-senha {
    display: flex;
    width: 400px;
    height: 48px;
    border-radius: 8px;
    font-family: grotesk-regular;
    padding-left: 16px;
    color: #817B76;
    
    border: 2px solid rgba(208, 213, 221, 0.5);
    outline: none;
}

/* Ação de foco ao passar o mouse em cima do input */
.comum-input-email:hover,
.comum-input-senha:hover {
    outline:  2px solid #8ec3f4;
}

/* Ação de foco ao clicar no input */
.comum-input-email:focus,
.comum-input-senha:focus {
    outline:  2px solid #8ec3f4;
}

/* Definição de cor e fonte do placeholder */
.comum-input::placeholder {
    color: #c2c5ca;
    font-family: grotesk-regular;
}

/* bloco contendo input de password*/
.view-password {
    position: relative;
}

.eye {
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: 16px;
    cursor: pointer;
}





/* botão de criação de conta */
.bnt-crate-acc {
    width: 100%;
    height: 48px;
    font-family: Touch-Bold;
    border-radius: 8px;
    background-color: #D1E9FF;
    border: none;
    color: #1570EF;
    font-size: 16px;

    transition: background-color 0.3s;
    cursor: pointer;
}

/* Animação para mudar a cor do botão */

.bnt-crate-acc:hover,
.bnt-login-google:hover {

    background-color: #1570EF;
    color: white;
}

/* botão de logar com a conta */
.bnt-login-google {
    width: 100%;
    height: 48px;
    font-family: Touch-Bold;
    border-radius: 8px;
    color: #1570EF;
    border: none;
    background-color: #D1E9FF;
    font-size: 16px;
    
    transition: background-color 0.3s;
    cursor: pointer;
}

/*Texto perguntando se ja tem uma conta e quer logar*/
.commum-paragraf {
    text-align: center;
    font-size: 16px;
    font-family: grotesk-regular;
    color: #c2c5ca;
}

/*btn para logar*/
.btn-login {
    border: none;
    background: none;
    color: #1570EF;
    font-family: grotesk-regular;
    cursor: pointer;
}

/* Edição do bloco direito */

.info-esquerda {
    width: 100vh;
    height: 100vh;
    display: flex;
}

/* Iluminação superior direito */
.iluminacao-superior-direito {
    position: absolute;
    width: 600px;
    height: 600px;
    border-left: 100%;
    border-radius: 1000px 0px 0px 10000px;
    right: 50%;
    top: -10%;
    background-color: #1570ef2d;
    filter: blur(100px);
}

/* Iluminação inferior esquerdo */
.iluminacao-inferior-esquerdo {
    position: absolute;
    width: 800px;
    height: 800px;
    border-left: 100%;
    border-radius: 100% ;
    bottom: -35%;
    left: -15%;
    background-color: #1570ef2d;
    filter: blur(100px);
}

/*bloco de texto bem vindo lateral esquerda*/
.bem-vindo {
    position: absolute;
    bottom: -80px;
    text-align: left;
    width: 500px;
    height: 400px;
    left: 80px;
}

/* texto bem vindo lateral esquerda*/
.frase-bem-vindo {
    font-size: 56px;
    font-family: Goldbill-italic;

    background: linear-gradient(175deg, #ffffff, #050A24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* configurações tamanho div */
.logo-name {
    position: absolute;
    width: auto;
    height: auto;
    left: 80px;
    top: 64px;
}

.logo-name {

    font-family: TafelSansPro;
    color: #FFFFFF;
    font-size: 28px;

}

.poiter {
    font-family: TafelSansPro;
    color: #1570EF;
    font-size: 28px;
}