/* Fontes utilizadas na aba de Criação da Conta */


@font-face {
    font-family: Touch-Bold;
    src: url(Fonts/Touche-Semibold.otf);
}

@font-face {
    font-family: Touche-Semibold;
    src: url(Fonts/Touche-Semibold.otf);
}

@font-face {
    font-family: grotesk-regular;
    src: url(Fonts/hk-grotesk.regular.otf);
}

@font-face {
    font-family: Goldbill-italic;
    src: url(Fonts/Goldbill-XSBookItalic.ttf);
}